/* HD Style */
/*
	Mobile: 560px
	Tablet: 991px?
	Desktop: 
*/

/*
	don't break printing inside this div
  div {
    break-inside: avoid;
  }
*/



/* .red = class red */

.clrOrangeNormal {
	color: #ea7516;
}


body {
	color: #000000;
}


/*
////////////////////////////////////////////////////
comment these out.
comment out these:

.faq-section-trigers a:first-child:after{
.faq-section-trigers a:last-child{

.faq-section-trigers a:nth-child(2):after{
.faq-section-trigers a:nth-child(3){
*/

/* tablet mobile at @media (max-width: 991px) { */


/* .. add new css .. */

/* search */
.third-word {
    background: #fdcef1;
}

.forth-word {
    background: #ffd59e;
}

.topContainerText {
    padding-bottom: 20px;
    padding-top: 20px;
    QQQmin-height: 310px;
    QQQborder-bottom: 1px solid #d2d6da;
	QQQborder:1px solid orange;
}
	
/* contact */
.hiddenAtLoad { display: none !important; }	

/* domain profile */	
.productWhiteGrey:nth-child(odd) { background-color:white !important; }
.productWhiteGrey:nth-child(even) { background-color:#f3f6f8 !important; }

.productGreyWhite:nth-child(even) { background-color:white !important; }
.productGreyWhite:nth-child(odd) { background-color:#f3f6f8 !important; }

.NOPEdomain-table .domain-row:nth-child(odd) {
    background: white !important;
}
.NOPEdomains-table .domain-row:nth-child(even) {
    background: white !important;
}

a.footerIconLink {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
}


a.footerIconLink:hover {
    opacity: 0.9;
}
	
.faq-section-trigers a:nth-child(2):after{
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #d2d6da;
  right: -12px;
  top: 4px;
}
.faq-section-trigers a:nth-child(3){
  margin-right: 0;
}	
	
.paymentpay-accaunt-content-table-title-block .pa-table-right-side a {
    margin-right: 0px !important;
}
.paymentpay-accaunt-content-table-title-block .pa-table-right-side a:after {
    width: 0px !important;
    right: 0px !important;
}

	
.faq-title h1 ,
.checkout-title h1   {
	font-size:42px !important;
	/* color:#11262f !important; */
}
	
.checkout-title {
  padding-top:30px !important;	
}
		
.redColorText {
  color:red !important;	
}


/* don't touch this, it is the phone checkout box for all checkout pages */
.checkout-form fieldset.phone .select {
  width: 71px; margin-right:14px;
}	

/* removed 2022-05-11 
.checkout-form fieldset.phon.about-page-contente .select {
  width: 71px; margin-right:14px;
}	
*/
	
	
.single-checkout fieldset.phone .phone-number .phoneBase {
  width: calc(100% - 85px);
}

.paypal-confirmation-edit fieldset.phone .phone-number .phoneBase {
  width: calc(100% - 85px);
}

.checkout-form fieldset.phone .phone-number .phoneBase {
  width: calc(100% - 85px) !important;
}



.errore .phone-number .select select {
  border: 2px solid #ff0303 !important;
}


fieldset.errorePPStartTerms input {
  border: 2px solid #ff0303 !important;
  QQQpadding-left:10px !important;
}

fieldset.errorePPStartTerms label input {
  border: 2px solid #ff0303 !important;
}

div.checkout-aside fieldset.errorePPStartTerms input {
	QQQmargin-bottom:20px !important;
}

/* don't need
.enter-email-block-form.ppManageLogin form .input-row.errore::before {
	top:10px !important;
}
*/

div.contact-modal {
	overflow: hidden !important;
}

div.how-this-works-modal {
	overflow: hidden !important;
}

div.rent-to-own-modal {
	overflow: hidden !important;
	background-color: #fff !important;
}


.erroreNoInvalid {
	
}

.erroreNoInvalid::before {
	content: '' !important;	
}


.erroreNoInvalid::after {
	content: '' !important;
}

a.cart-link {
	display:none !important;
}

section.call-us {
  border-bottom: 1px solid #d2d6da;
}

/* .....  */


.top-container {
    padding-top: 40px;
}


h1.domain-name {
   	margin-top: 0px;
	/* margin-top: 100px; incorrect */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 {
	color: #4e73b7;
}

.call-us-title {
	color: #11262f;
	
}

h3 {
    font-size: 18px;
}

.bold {
	font-size: 16px;
	font-weight: bold;
}

.faq-section-trigers a {
  margin-right: 0px;
}

.paymentpay-accaunt-content-table table thead tr th {
  padding: 7px 25px;
}
  
.paymentpay-accaunt-content-table table tbody tr td {
  padding: 7px 25px;
}


.check-errore label span:before{
  border: 2px solid #ff0303;
}


.logo img {
  /*
    width: 238px;
 */
   height:35px;
}

.other-domains {
  border-bottom: 1px solid #d2d6da;
}


.testimonails {
  border-bottom: 1px solid #d2d6da;
}

.faq-section {
  border-top: 0px solid #d2d6da;
}


.radiobtn-row .radio-label {
 cursor: pointer;
}


.faq-block-item {
	border-radius: 0px;
}

.faq-section-block-items-wrap .faq-block-item {
	border-radius: 0px;
}	



a.link {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}	
	
.footer-menu a:hover {
  opacity: 1;
}

.how-this-works-modal .modal-content p a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}

.how-this-works-modal .modal-content p a:hover {
  border-bottom-color: transparent;
  opacity: 1;
}


.domain-paymentplan-list p a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
 } 
 
.testimonails .see-more {
  border-bottom: 0px solid #4486DE;
}
.testimonails .see-more:hover {
 	opacity: 1;
}


.domains-table .domain-row .domain a {
  border-bottom: 0px solid #4486DE;
}

.domains-table .domain-row .domain a:hover {
 	opacity: 1;
}


.see-more-domains {
  border-bottom: 0px solid #4486DE;
}

.see-more-domains:hover {
  opacity: 1;
}

.see-more-faq {
  border-bottom: 0px solid #4486DE;
}

.see-more-faq:hover {
  opacity: 1;
}

.buy-down-form form .form-row a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}

.buy-down-form a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}




.bn-block .after-forms-paragraf a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}


.bn-block .after-forms-paragraf a:hover {
  border-bottom-color: transparent;
  opacity: 1;
  text-decoration:underline;
}


.buy-down-form a:hover {
  border-bottom-color: transparent;
  opacity: 1;
  text-decoration:underline;
}

.buy-down-form form .form-row a:hover {
  border-bottom-color: transparent;
  opacity: 1;
  text-decoration:underline;
}


.domain-paymentplan-list p a:hover {
  border-bottom-color: transparent;
  opacity: 1;
}



.shop-links a:hover {
  color: #4486DE;
}

.domain-name .small-text a:hover {
  border-bottom-color: transparent;
  opacity: 1;
}





.input-captcha a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}

.input-captcha a:hover {
  border-bottom-color: transparent;
  opacity: 1;
  text-decoration: underline;
}
 
.checkbox-row span a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
} 


.checkbox-row span a:hover {
  border-bottom-color: transparent;
  opacity: 1;
  text-decoration: underline;
}
 


a.footerIconLink:hover {
   opacity: 1;
}



a {
  color: #4486DE;
}

a:hover {
  color: #4486DE;
  text-decoration: none;
}





.pp-creditionals .container p a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}

.pp-creditionals .container p a:hover {
  border-bottom-color: transparent;
  opacity: 1;
}



.bonus-presentation-item .bonus-presentation_content a {
  display: inline-block;
  font-size: 15px;
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}

.bonus-presentation-item .bonus-presentation_content a:hover {
  border-bottom-color: transparent;
  opacity: 1;
}

.buinge-guide-section-nav {
    justify-content: start;
}

.buinge-guide-section-nav-item:nth-of-type(3n + 1) {
	margin-right:1.85%;
}

.buinge-guide-section-nav-item:nth-of-type(3n + 2) {
	margin-right:1.85%;
}



.fieldset.popupFavField input, .fieldset.popupFavField textarea {
    border: 1px solid #bebebe;
	height:35px;
	padding:1px 15px;
}

div.modal-content {background-color:#ffffff !important; }


.whiteLink {
	color: #ffffff !important;
}

.blueLink {
	color: #4486DE !important;
}

.blueLink:hover {
	color: #4486DE !important;
}

.blackLink {
	color: #000000 !important;
}

.blackLink:hover {
	color: #000000 !important;
}


.whiteLink {
	color: #ffffff !important;
}

.whiteLink:hover {
	color: #ffffff !important;
}


.search-pagination-mobile a {
  font-size: 16px;
  /* color: #4486DE; */
  height:30px;
  background-color:#2aa527;
} 
  
.domain-name .small-text a {
  color: #4486DE;
  border-bottom: 0px solid #4486DE;
}






/*25.02.2021*/
.footer-mobile-block-btn{
  position: fixed;
  padding: 15px;
  background-color: #fff;
  display: none;
  left: 0;
  width: 100%;
  bottom: 0;
}
.footer-mobile-block-btn .btn{
  width: 100%;
  min-height: 50px;
  
}
.footer-mobile-block-btn .btn.bordered-btn{
  background-color: #fff;
  color: #2aa527;
  border: 3px solid #2aa527;
}
.footer-mobile-block-btn .btn.bordered-btn:hover{
  color: #fff;
background-color: #4888d1;
border: 3px solid #4888d1;
}
.footer-mobile-block-btn .or{
  display: block;
  width: 100%;
  text-align: center;
}
.domain-name-footer-fixed{
  display: block;
  color: #2aa527;
font-family: noto-sans, sans-serif;
font-weight: 500;
font-style: normal;
margin-bottom: 15px;
  text-align: center;
}
/*25.02.2021*/


.margin15Top {margin-top:15px; }
.margin20Top {margin-top:20px; }
.margin30Top {margin-top:30px; }
 


/* hide second nav on pages */
 

 /* 
  header.fixedHeaderV2 nav.navbar  {
    display: none;
  }

  .locked header.fixedHeaderV2 nav.navbar {
    display: block;

  }
 */
 
  /* no
   header.fixedHeaderV2 .overlayMenu {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    display: block;
  }

  header.fixedHeaderV2 .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
  } 
  */
  
/* probalby not 
  header.fixedHeaderV2  .header-top > header.fixedHeaderV2 .d-flex {
    position: absolute;
    right: 20px;
    width: auto;
    top: 12px;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-v2 .header-top > header.fixedHeaderV2 .d-flex{
    flex-direction: row;
  } 

*/

@media (min-width: 992px) {

  header.fixedHeaderV2 nav.navbar {
    border-top: none;
    padding: 0;
  }
  

   header.fixedHeaderV2 .overlay {
		position: fixed;
		background: #4888d1;
		top: 58px;
		left: -100%;
		width: 230px;
		height: 100%;
		opacity: 1;
	}


/* 2 col
	div.threeColFooterNav div {flex:50%;}

	div.threeColFooterNav {
		display:flex;
		flex-wrap: wrap;
	}
*/

	div.threeColFooterNav {
	
		width:75%; /* 75% */
		margin-right:auto;
		margin-left:auto; 
		/* justify-content: justify-content; */

		/* white line fix */
		margin-bottom:0px;
		border-bottom:0px;
	}
	
	

	div.threeColFooterNavLogos {
		/* white line fix */
		padding-top:39px;
		border-top:1px solid #92aee1;
	}
		
	div.threeColFooterNavLogo1 { width:71px; }
	div.threeColFooterNavLogo2 { width:118px; }
	div.threeColFooterNavLogo3 { width:201px; }
	div.threeColFooterNavLogo4 { width:87px; }
	div.threeColFooterNavLogo5 { width:131px; }

}

.marginNoTop {margin-top:0px;}
.marginNoRight {margin-right:0px;}
.marginNoLeft {margin-left:0px;}
.marginNoBottom {margin-bottom:0px;}


@media (max-width: 991px) {
	/*100 */
	div.threeColFooterNav { justify-content: space-around; padding-left:20px; padding-right:40px;}

	div.threeColFooterNav div {flex:34%; wQidth:200px;}
	
	.noMarginTop991 {margin-top:0px;}
	.noMarginRight991 {margin-right:0px;}

	.marginNoTop991 {margin-top:0px;}
	.marginNoRight991 {margin-right:0px;}
	
	.paddingNoRight991 {padding-right:0px; }
	.noPaddingRight991 {padding-right:0px; }

	.paddingNoRight991Imp {padding-right:0px !important; }
	.noPaddingRight991Imp {padding-right:0px !important; }
	
}









  header.fixedHeaderV2 nav.navbar .overlay {
    /* display: none; */
	/* nope visibility: hidden; */
  }

  .locked header.fixedHeaderV2 nav.navbar .overlay {
    /* display: block; */
	/* nope visibility: visible; */
  }





















/*
//////////////
// do responsive stuff here too
//////////////
*/




@media (max-width: 840px) {
	.paymentpay-accaunt-content-table table thead tr th, .paymentpay-accaunt-content-table table tbody tr td {
    	padding: 5px 5px;
   		font-size:12px;
	}

}


/*
QQQ
add the nth blocks,  right to this block


  .buinge-guide-section-nav-item {
    width: 100%;
  }
*/

@media (max-width: 768px) {

	.buinge-guide-section-nav-item:nth-of-type(3n + 1) {
		margin-right:0px;
	}
	
	.buinge-guide-section-nav-item:nth-of-type(3n + 2) {
		margin-right:0px;
	}
	
}











@media (max-width: 400px) {
	.hideAt400 { display: none !important; }	
}

@media (max-width: 991px) {

	a.cart-link {
		display:block !important;
	}
	.ss-block-inner .floatBuyNowText {
		padding-left: 10px !important;		
	}
	.ss-block-inner .floatBuyNowRowText {
		justify-content: flex-start !important;
	}
}



/* QQQ think this is right */

@media (max-width: 991px) {
	  .footer-mobile-block-btn{
		display: block;
	  }
	  .dn{
		display: none;
	  }
	
	  .dy-block{
		display: block !important;
	  }
	  
	  #footer.big-padding {
		padding: 25px 20px 225px;
	  }
	  
}


@media (max-width: 991px) {

	/* home page center adv search link .input-row a.link */
	form#hdv3HomeSearchFormID a.link {
		align-self:center;
	}


  .adv-search-trigger {
    margin-top: 10px;
    width: 200px;
    cursor: pointer;
  }
  
  /* https://css-tricks.com/almanac/properties/j/justify-content/ */


	/*<div class="search-result" id="main"> */
	
	div.search-result {
		bQQQorder:1px solid orange;
		width:100%;
	}
	
div.search-result {boQQQrder:1px solid orange;

jusQQQtify-content:space-between !important;
}

  div.search-result .adv-search-trigger {
  	/* border:10px solid orange; */
  	displWWWay:inline;
	margWWin-right:10px;
	margiWWn-left:auto;
	
	oveQQQrflow-wrap: break-word;
	
	justWWWify-content:flex-end; /* flex-start*/
	
	fQQQloat:right;

	display:block;


	margin-top:0px;
	margin-right:40px;
	
	disQQQQQplay:flex;
	jusQQQtify-content:flex-end;
	
	
	height:30px;
	font-size:16px;
	width:160px;
  }
}

@media (max-width: 680px) {
	div.search-result .adv-search-trigger {
		float:none;
		display:flex;
		justify-content:flex-start;
	}
}


@media (max-width: 440px) {
  .banner-search form .input-row label:before { top: 3px !important; }
  section.banner {min-height:460px !important;}
}


@media (max-width: 767px) {
  .banner-search form .input-row label:before { top: 13px !important; }
  section.banner {min-height:500px !important;}
}



@media (max-width: 875px) {

  .futured-domains {
    padding-left: 10px;
    padding-right: 10px;
  }

  .fuured-domains-wrap .futured-dimain-tems {
    width: 100%;
    padding: 15px;
  }

  .futured-dimain-tems-domain .domain-name {
    font-size: 14px;
  }

  .futured-dimain-tems-bn .price {
    font-size: 14px;
  }

  .futured-dimain-tems-bn a {
    margin-left: 15px;
    flex-shrink: 0;
  }

}


.content-image {
    margin-left: 20px;
	margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
  .cart-number {
    top: 0px;
   }

}


/* my fav at 800 */
@media (max-width: 810px) {


    .fav-modal-form form .input-row {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .favorite-modal-list ul li {
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    .favorite-modal-list ul li .list-right .delete-item {
        margin-left: 18px;
        position: absolute;
        right: 0;
        top: 2px;
    }

    .my-favorites h2 {
        text-align: center;
    }

    .my-favorites {
        padding: 30px 0 50px;
    }

    .my-favorites ul {
        border-left: none;
        border-right: none;
    }

    .my-favorites ul li {
        padding: 5px 20px 15px;
    }


    .my-favorites .available {
        max-width: 100%;
        text-align: left;
        order: 2;
        width: 100%;
    }

    .my-favorites ul li .btn {
        margin: 5px 0;    
        font-size: 20px;
    }

    .my-favorites .list-center {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .my-favorites .favorite-modal-list ul li .list-right .delete-item {
        right: 0;
        position: relative;
        margin-bottom: 15px;
    }

    .favorite-modal-list ul li .list-right {
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .favorite-modal-list ul li {
        flex-direction: row;
    }


    .my-favorites .list-left {
        flex-wrap: wrap;
    }

    .my-favorites .fav-modal-form {
        padding: 0 20px;
    }

    .my-favorites .fav-modal-form form .input-row {
        flex-direction: column;
    }

    .my-favorites .fav-modal-form form {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .content-errore p.small-text {
    display: none;
}
    .favorites-unpopulated {
        padding: 0 20px;
    }
    footer#footer .col-50 .d-flex {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #footer {
        padding: 30px 20px;
    }
    .product-fav-wrapp .content-wrapp section .tablet-block-row .btn{
       min-width: auto;
    }
}



/* anchor bottom product 3 */
@media (max-width: 990px) {
    .mobile-fixed-block {
        display: block;
        text-align: center;
        padding: 10px 20px 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #7199e2;
        z-index: 9;
    }
}

/* .com chart in product 3 tablet / mobile views */
@media (max-width: 991px) {
	.chart-section {
    	display: block;
	}
}

/* buying guide longer nav lines */
.side-about-menu li.active:before {
	top:10px;
}
.side-about-menu li:hover a:before {
	top:10px;
}




/* ............. billboard 196 spinners .................... */
/* default for button */

.hdv3Billboard196Spinner {
	width:280px;
	min-width:280px;
}

.hdv3Billboard196PPSpinner {
	width:280px;
	min-width:280px;
}



/* 810 ; 767 */
@media (max-width:810px) {
	.hdv3Billboard196SpinnerBuyTabletLink {
		width:148px !Important;
		min-width:148px !Important;

	}
		
	
	.hdv3Billboard196Spinner {
		width:148px !Important;
		min-width:148px !Important;
		bQQQackground-color:blue !Important;
	}
	
	.hdv3Billboard196Spinner span {
		display:none !Important;
	}
/* remove the processing part */


	/* pp */
	.hdv3Billboard196SpinnerBuyPPTabletLink {
		width:247px !Important;
		min-width:247px !Important;
	}

	.hdv3Billboard196PPSpinner {
		width:247px !Important;
		min-width:247px !Important;
	}

}


/* fixing the mobile borders for showing the telephone block */
@media (max-width: 767px) {
	.tablet-block {
		/* wrong ? 2023-11-14
	    border-top: 0px solid #d2d6da !Important;
			*/
	}
}


/* buying guide prev/next // hideAt1240Width*/
@media (max-width: 1240px) {
	.hideAt1240Width {display:none !Important;}
	.showFlexAt1240Width {display:flex !Important;}
}

/* hiding blocks at certain widths */
@media (max-width: 991px) {
	.hideAt991Width {display:none !Important;}
}




/* errore div text highlights product3 */
	/*floaty */
.input-sidebar-row.hdv3Product3FloatyForm.errore:after {
  content: 'Invalid';
  position: absolute;
  display: inline-block;
  color: #ff0303;
  font-size: 14px;
  right: 10px;
  top: 31px; /*6px*/
}

.input-sidebar-row.hdv3Product3FloatyForm.errore:before {
  content: url(../../../../images/hdv3-img/alert.png);
  display: inline-block;
  position: absolute;
  right: 62px;
  width: 14px;
  height: 13px;
  top: 28px; /*3px*/
}

.input-sidebar-row.hdv3Product3FloatyForm.errore input {
  border: 2px solid #ff0303 !important;
}


	/* tablet */
.input-sidebar-row.hdv3Product3TabletForm.errore:after {
  content: 'Invalid';
  position: absolute;
  display: inline-block;
  color: #ff0303;
  font-size: 14px;
  right: 10px;
  top: 6px; /*6px*/
}

.input-sidebar-row.hdv3Product3TabletForm.errore:before {
  content: url(../../../../images/hdv3-img/alert.png);
  display: inline-block;
  position: absolute;
  right: 62px;
  width: 14px;
  height: 13px;
  top: 3px; /*3px*/
}

.input-sidebar-row.hdv3Product3TabletForm.errore input {
  border: 2px solid #ff0303 !important;
}


	/*mobile */
.input-sidebar-row.hdv3Product3MobileForm.errore:after {
  content: 'Invalid';
  position: absolute;
  display: inline-block;
  color: #ff0303;
  font-size: 14px;
  right: 10px;
  top: 42px; /*6px*/
}

.input-sidebar-row.hdv3Product3MobileForm.errore:before {
  content: url(../../../../images/hdv3-img/alert.png);
  display: inline-block;
  position: absolute;
  right: 62px;
  width: 14px;
  height: 13px;
  top: 39px; /*3px*/
}

.input-sidebar-row.hdv3Product3MobileForm.errore input {
  border: 2px solid #ff0303 !important;
}


/* min offer */
   	.cursive-place-two input[placeholder] {
        width: 100%;
        min-height: 36px;
        /* border: 1px solid #d0d4da; */
        padding-left: 10px;
        padding-right: 10px;
    }
	
	
/* buying buide tablet / mobile changes */
	li.active a.buyingGuideLinkMobileGrey {
		color: #adbac0 !important; /* light grey lightgrey */
	}
	
	li.active span.buyingGuideLinkMobileGrey {
		color: #adbac0 !important; /* light grey lightgrey */
		font-size:15px !important;
	}
	
	.hdv3Product3b196TabletPPTwoLine {
		display:none;
	}
	
	
.bottomPadding0	{padding-bottom:0px;}

@media (max-width: 991px) {

	div.buyingGuideMobileFooterPadding {
		padding-bottom:30px;
	}
	
	
	/* b196 tablet pp */
	.hdv3Product3b196TabletPPOneLine {
		display:none;
	}
	
	
	.hdv3Product3b196TabletPPTwoLine {
		display:block;
	}		
}	


/* padding right 30 for the buttons to help center them */
.paddingRight30 { padding-right:30px !important; }

/* b196 tablet */
@media (max-width: 810px) {

	.b196Tablet {
		width:100% !important;
	}
	
	.b196TabletDisplay {
		display:inline !important;
	}
}

/* product 3 fab tablet fix */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/align-items */
@media (max-width: 991px) {
	.oter-domain-title {
		flex-direction:row;
		margin-bottom:0px;
		align-items:baseline;
	}	
}

/* stack at very small viewport */
@media (max-width: 500px) {
	.oter-domain-title {
		flex-direction:column;
		margin-bottom:15px;
		align-items:center;
	}	
}

/* class to add underline on hover :: blueLink linkUnderlineHover */
.linkUnderlineHover:hover {
	text-decoration:underline !Important;
}

/* video text show hide at 630  hideAt630Width  showAt630Width   */

.showAt630Width {
	display:none;
}

@media (max-width: 630px) {

	.showAt630Width {
		display:block;
	}

	.hideAt630Width {
		display:none;
	}

}


@media (max-width: 560px) {

	.showAt560Width {
		display:block !important;
		
	}

	.hideAt560Width {
		display:none;
	}

	.centerTextAt560Width {
		text-align:center;
		display:inline;
	}
	

}


/* pipe fixe in product 3 lander */

.favorite-check-wrap label > span > span::before {
		border-color: #a3abb5;
		border-left-width:0px;
	}

	/* needs to be 930? */
	.tablet-block-footer p span:before {
		border-color: #a3abb5;
		border-left-width:0px;
	}
@media (max-width: 991px) {

}


/* bleed fix on product 3 landers */
@media (max-width: 560px) {
	/* section */
	.top-container-new-product {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	

	/* pitch */
	.crediti.tablet-block {
	    margin-left: 0px;
	    margin-right: 0px;
	}	
}

.leftRightPadding30 {
	padding-left:30px;
	padding-right:30px;
}

.leftRightPadding20 {
	padding-left:20px;
	padding-right:20px;
}


/* no left/right borders on mobile bleed !Important */
@media (max-width: 991px) {


	.tablet-block {
		/* added 2023-11-14 */
    	border-top: 1px solid #d2d6da;
  	}

	.topBottomMargin20Mobile991 {
		margin-top:20px;
	}

	.noMobileLeftRightBorder991 {
		border-right-width:0px ;
		border-left-width:0px ;
	}
	
	.leftRightMargin20Mobile991 {
		margin-left:20px;
		margin-right:20px;
	}

	.topBottomMargin4Mobile991 {
		margin-top:4px;
		margin-bottom:4px;

	}

	.bottomPadding20Mobile991 {
		padding-bottom:20px;
	}
	
	/* leftRightPadding20Mobile991 leftRightPadding20Mobile560 */
	.leftRightPadding20Mobile991 {
		padding-left:20px;
		padding-right:20px;
	}

	.leftRightPaddingImp20Mobile991 {
		padding-left:20px !Important;
		padding-right:20px !Important;
	}	

	.noLeftRightPaddingImpMobile991 {
		padding-left:0px !Important;
		padding-right:0px !Important;
	}	


	.noLeftRightMargin20Mobile991 {
		margin-left:0px;
		margin-right:0px;
	}

	.noLeftRightBorderMobile991 {
		border-left-width:0px;
		border-right-width:0px;
	}
	
	.noMiddleBorderBottomMobile991 {
		border-bottom-width:0px;
	}
	.noMiddleBorderBottomMobile991:last-of-type {
		border-bottom-width:1px;
	}
	.middleBorderBottomMobile991 {
		border-bottom-width:1px;
	}

	.width280Mobile991 {
		width:280px !important;
	}


	/* calc(100% - 42px) */
	.width100Minus42Mobile991 {
		width:calc(100% - 42px) !important;
	}
	
	.width100Minus40Mobile991 {
		width:calc(100% - 40px) !important;
	}	
	
	.width100Mobile991 {
		width:100% !important;
	}	
	.widthAutoMobile991 {
		width:auto;
	}	
	
    .video-block iframe {
        width: 480px;
		max-width: 480px;
		
		display:block;
		margin-right:auto;
		margin-left:auto;
		
	}

	section.testimonails .testimonails-wrap .single-product-block .video-block iframe { text-align: -webkit-center; }	
	section.testimonails .testimonails-wrap .single-product-block div.text-video p { text-align: -webkit-center; }
		
	
	.favLeft130Justify991 {
		justify-content: left !important;
		padding-left:130px;
		mQQQargin-left:130px	
	}	
		

}

/* leftRightMargin20Mobile991 noLeftRightMargin20Mobile560 */
@media (max-width: 560px) {
	.noMobileLeftRightBorder560 {
		border-right-width:0px ;
		border-left-width:0px ;
	}

	.noMobileLeftRightImpBorder560 {
		border-right-width:0px !important ;
		border-left-width:0px !important ;
	}
	
	.favCenterJustify560 {
		justify-content: center !important;
		padding-left:0px;
		mQQQargin-left:130px	
	}		

	.leftRightPadding20Mobile560 {
		padding-left:20px;
		padding-right:20px;
	}

	.leftRightPaddingImp20Mobile560 {
		padding-left:20px !Important;
		padding-right:20px !Important;
	}	
	
	.noLeftRightPaddingMobile560 {
		padding-left:0px;
		padding-right:0px;
	}	
	
	.noLeftRightPaddingImpMobile560 {
		padding-left:0px !important;
		padding-right:0px !important;
	}		
	

	.leftRightMargin20Mobile560 {
		margin-left:20px;
		margin-right:20px;
	}

	.topMargin16Mobile560 {
		margin-top:16px;
	}

	.topMargin16Mobile560 {
		margin-top:16px;
	}

	.topMargin20Mobile560 {
		margin-top:20px;
	}	

	.topBottomMargin20Mobile560 {
		margin-top:20px;
		margin-bottom:20px;

	}

	.topBottomMargin4Mobile560 {
		margin-top:4px;
		margin-bottom:4px;

	}
	
	.bottomMargin20Mobile560 {
		margin-bottom:20px;
	}	

	.bottomMargin20ImpMobile560 {
		margin-bottom:20px !important;
	}	

	.bottomPadding30Mobile560 {
		padding-bottom:30px;
	}	

	.topBottomPadding20Mobile560 {
		padding-top:20px;
		padding-bottom:20px;
	}	

	.noLeftRightMargin20Mobile560 {
		margin-left:0px;
		margin-right:0px;
	}

	.width100Mobile560 {
		width:100% !important;
	}	
	
	.width100Minus40Mobile560 {
		width:calc(100% - 40px) !important;
	}	

	.widthMax100Mobile560 {
		max-width:100%;
	}	

	.noBorderTop560 {
		border-top-width:0px;
	}
	
	.borderTop1px560 {
		border-top-width:1px;
	}	

	.borderTop1pxImp560 {
		border-top-width:1px;
	}	

	.borderTopGreyBar560 {
		border-top:1px solid #d2d6da;
	}	

	
	.noMarginTop560 {
		margin-top:0px;
	}
	
	.marginTop15px560 {
		margin-top:15px;
	}	
	
    .video-block iframe {
        width: 400px;
		max-width: 400px;
		height:225px;
	}
	
}

@media (max-width: 460px) {
    .video-block iframe {
        width: 320px;
		max-width: 320px;
		height:180px;
	}
}


/* lander domain title */
@media (max-width: 545px) {
	h1.domain-name {
	    word-break: break-word;
	}
}

@media (max-width: 350px) {
	.width100Minus40Mobile350 {
		width:calc(100% - 40px) !important;
		min-width:auto;
	}		

	.width100Mobile350 {
		width:calc(100% - 40px) !important;
		min-width:auto;
	}		

	.width80perMobile350 {
		width:80%;
	}	

	.width80perImpMobile350 {
		width:80% !Important;
	}	
	
	.width90perMobile350 {
		width:90%;
		min-width:auto;
	}	

	.width90perImpMobile350 {
		width:90% !Important;
		min-width:auto;
	}		
	
}

@media (max-width: 320px) {
	.width100Minus40Mobile320 {
		width:calc(100% - 40px) !important;
	}		
}

/* 17px / 24px lander */
section.testimonails div.testimonials-container p.feedback {font-size:17px; line-height:1.75;}
section.testimonails div.testimonails-wrap a.see-more {font-size:17px !important; }
section.testimonails div.testimonaals-wrap h2 {font-size:24px;}
section.testimonails div.testimonails-wrap h2 {font-size:24px;}
h2.subtitels {font-size:24px;} 
.oter-domain-title h2 {font-size:24px;}
section.faq-section  .single-product-block .faq-block .faq-bi-title a {font-size:17px; line-height:1.75; }
section.faq-section  .single-product-block .faq-block .faq-bi-content p {font-size:17px; line-height:1.75; }
section.faq-section  .single-product-block .faq-block .faq-bi-content p a {font-size:17px;}
.faq-bi-title:before { top: 7px; } /* | part of + position faq , 9px */
.faq-bi-title:after { top: 13px; } /* - part of + position faq , 15px */
section.other-domains .domains-table .domain-row a {font-size:17px;}
section.other-domains .domains-table .domain-row span.price {font-size:17px;}
.product-fav-wrapp .side-wrapp .crediti li span {font-size:17px;}
.product-fav-wrapp .side-wrapp span.ssblock-footer {font-size:15px;}
.product-fav-wrapp .content-wrapp  .single-product-block .top-bottom-bordered-block span {font-size:17px;}
.product-fav-wrapp .content-wrapp div.crediti li span {font-size:17px;}
.product-fav-wrapp .side-wrapp div.slide-sidebar-block div.ss-block-inner-new span.row-save span.big-text {font-size:20px;}
.product-fav-wrapp .side-wrapp div.slide-sidebar-block div.ss-block-inner-new span.small-or {font-size:15px;}
section.buy-now div.single-product-block div.tablet-block-s div.tablet-block-footer p span {font-size:17px;}
section.buy-now div.single-product-block div.moble-block div.ss-block-inner-new span.big-text {font-size:20px;}
section.buy-now div.single-product-block div.moble-block div.ss-block-inner-new span.small-or {font-size:15px;}
section.buy-now div.single-product-block div.moble-block div.ss-block-inner-new span.ssblock-footer {font-size:17px;}
.product-fav-wrapp .side-wrapp div.slide-sidebar-block div.ss-block-inner div.ss-block-inner-new span.big-text {/*same*/}
section.buy-now div.single-product-block div.tablet-block-s p span.big-text {font-size:20px;}
.product-fav-wrapp .side-wrapp div.slide-sidebar-block div.ss-block-inner-new span.big-text {font-size:20px;}
.product-fav-wrapp .side-wrapp div.slide-sidebar-block div.ss-block-inner-new div.input-sidebar-row label {font-size:17px;}
section.buy-now div.single-product-block div.tablet-block-s div.row-item span.big-text {font-size:20px;}
section.buy-now div.single-product-block div.moble-block p.big-text {font-size:20px;}

.findOutBuyingGuidelink {
	padding-right: 100px;
	display: inline;
	line-height: 21px; /* 1.2 */
	heiQQQght: auto;
	font-size: 17px;
	padding-right: 0px;
}

.bgsni-title-link {
	underline:none;
	color:black;
	font-size:17px;
	line-height:21px; 
	bQQQackground-color:lightblue;
	display:inline;
	overflow:hidden;

}

.findOutBuyingGuidelink:aWWWfter {
    content: '';
    background-image: url('../../../../images/hdv3-img/link-arrow.png');
    width: 17px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
	
	white-space: nowrap; /*prevents line break with after element , css prevent after element from wrapping to next line */

	mQQQargin-right:-17px;
}

.input-sidebar-row.hdv3Product3MobileForm.errore:before {
	top:41px;
}

.input-sidebar-row.hdv3Product3MobileForm.errore:after {
	top:44px;
}

.input-sidebar-row.hdv3Product3FloatyForm.errore:before {
	top:33px;
}

.input-sidebar-row.hdv3Product3FloatyForm.errore:after {
	top:36px;
}
	

/* p3 buy temp */
@media (max-width: 560px) {
    .tablet-mob-block .ss-block-inner-new {

        background-color: #f3f6f8;
        border: 1px solid #d9dce1;
    }
    .tablet-mob-block .ss-block-inner-new > span.row-save, .tablet-mob-block .ss-block-inner > span.row-save{
        display: flex;
    }
}




.headerMobileSearchPhone {
	display:inline-block;
	padding:0;
	margin-right:11px;
}

.headerSearchMagInputImg {
    cursor:pointer;
    width: 21px;
    height: 22px;
   
  	margin-top:11px;
	margin-right:1px;
}

/*buying guide only? */
.about-page-content img {
	mQQQargin-bottom: 30px;
	maQQQrgin-top: 20px;

	margin-bottom: 0px;
	margin-top: 0px;

}

.buinge-guide-section-nav-item .bgsni-content {
	margin-bottom: auto;
	margin-top: auto;
}

.buinge-guide-section-nav-item .bgsni-content .bgsni-title {
	line-heiQQQght:1.2;
	heiQQQght:61px;
	vertical-align:top;
	line-height:21px;
	bQQQorder: 1px solid red; /* #f3f6f8 */
	valign:top;
}
/* rest in findOutBuyingGuidelink */


.about-page-content div.about-gallery a {
	margin-bottom:20px;
}





/* ******************************************************** */
/* ada */

input {accent-color: #4486DE;}

footer#footer {background-color:#4e73b7; }



	/* checkbox updates */
	.checkbox-text-nocheckright { /* span */
		font-size: 15px;
		line-height: 1.4; /* 1.4 */
		margin-top: -4px;
	}
	.checkout-aside .private-checkbox-nocheckright {
		border-top: 1px solid #c4c8ce;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 1.4;
	}
	.private-checkbox-nocheckright {
		position: relative;
	}
		
	.private-checkbox-nocheckright input {display:inline-block;}

	.private-checkbox-nocheckleft input {display:inline-block;}	

	fieldset.private-checkbox-nocheckleft {

	}

	.checkout-form fieldset.private-checkbox-nocheckleft label {
	    width: inherit;
    	text-align: inherit;
    	padding-right: inherit;
		color: inherit;
    	/* margin: 0;  color: #000; */
	}
	
	fieldset.private-checkbox-nocheckleft span {
		padding-left:5px;
	}





.bb-quotes-content p::before{
	content: url(../../../../images/hdv3-img/test-content-img-left.png);
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: -5px; /* 1px */ 
}

.bb-quotes-content p::after{
	content: url(../../../../images/hdv3-img/test-content-img-right.png);
    margin-left: 5px;
    display: inline-block; 
    position: relative;
    top: -5px; /* 1px */
}

/* slider home page */
.sQQQuccess-stories-slider-item-content p::before{
	content: url(../../../../images/hdv3-img/test-content-img-left.png);
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: -5px; /* 1px */ 
}

.sQQQuccess-stories-slider-item-content p::after{
	content: url(../../../../images/hdv3-img/test-content-img-right.png);
    margin-left: 5px;
    display: inline-block; 
    position: relative;
    top: -5px; /* 1px */
}



.WWWcasestudy-page .ss-block-inner {
    right: -624px; /* -411px */
}

/* case studies single image fix */
@media (max-width: 960px) {
	/* QQQ needs work */
	.success-stories-wrap .success-stories-second .image-block img {width:100%; height:auto; }
}

@media (max-width: 767px) {
	div.success-stories-second-item {
	    /* flex-direction: column; */
		margin-bottom:30px;
	}
	
	div.success-stories-second-item:last-child {
		margin-bottom:0px;
	}
	
	
}

.WWWcasestudy-page .ss-block-inner {
	pQQQosition:absolute;
}

/* case study links box fix */
@media (max-width: 1240px) {
  .WWWcasestudy-page .ss-block-inner {
    right: 271px; /* 20px 1060px size , was +20px . 271 */
    left: auto;
	pQQQosition:absolute;
  }
}

@media (max-width: 1190px) {
  .WWWcasestudy-page .ss-block-inner {
    right: 147px; /* 20px 1060px size now 1190 */
    left: auto;
  }
}

@media (max-width: 991px) {
	
	.ss-block-inner-new {
    text-align: left;
	}

	  .WWWcasestudy-page .ss-block-inner {
    	right: 147px; /* 20px 1060px size now 1190 */
    	left: auto;
  	}

	/* bottom case study links*/
	.WWWcasestudy-page .ss-block-inner {
		display: none;
	}
	
	.WWWcasestudy-page .slide-sidebar-block {
		display:none;
	}

	.WWWcasestudy-page .mobile-cs-block {
	    display: block;
	}	
	
	.WWWcasestudy-page .mobile-cs-block {
	    display: block;
	}		

	.WWWcasestudy-page .mobile-cs-block li {
	     margin-bottom:15px;
	}		

	.WWWcasestudy-page .mobile-cs-block li img {
	     margin-bottom:0px;
	}		

}

/* related domains v2 lander */
.other-domains-update-v-1 .domains-table .domain-row {
	padding: 15px 20px 15px 20px;
}

.blackHeader {
 	/* h1, h2, h3, h4, h5, h6 */
    color: #11262f;
}

/* home page success */
div.success-stories-second-item {
	margin-right:20px;
}

div.success-stories-second-item:last-child {
	margin-right:0px;
}


/* home page case study fix */
main.home-page-main section {
	padding-left:20px;
	padding-right:20px;

}

/* case study lander fixes */
@media (max-width: 1030px) {

	.side-wrapp.dn-mobile-cs {
		display: none !important;
	}
	
	.mobile-cs-block {
    	display: block;
	}

	.top-container-new-product {
    	padding-left: 20px;
    	padding-right: 20px;
	}

	/* icon fix */
	.casestudy-page .mobile-cs-block li {
	     margin-bottom:15px;
	}		

	.casestudy-page .mobile-cs-block li img {
	     margin-bottom:0px;
	}	
}


@media (max-width: 991px) {
		/* doing 1030 for padding? maybe or not,  mostly 991, org 767px */
	
	
	.casestudy-page.product-fav-wrapp .content-wrapp section {
 	   width: 100%;
	}
	
}

@media (max-width: 560px) {
	.top-container-new-product {
    	padding-left: 20px;
    	padding-right: 20px;
	}
}

/* end case study fixes */

.drkBluClrHeader {color: #4e73b7;}
.drkBluBgHeader {background-color: #4e73b7;}

header.hdv3HeaderDarkBlue {background-color: #4e73b7;}
header.hdv3HeaderDarkBlue div.header-top {background-color: #4e73b7;}
header.hdv3HeaderDarkBlue div.header-top span.tell-text {color: #ffffff;}
header.hdv3HeaderDarkBlue div.header-top button.search-btn {color: #3d3d3d; background-color:#ffffff; border-color:#88a4d2; }
header.hdv3HeaderDarkBlue div.header-top .circularG {background-color:#1E2729;}
header.hdv3HeaderDarkBlue div.header-top input {border-color:#2e4978; }

header.hdv3HeaderDarkBlue  .navbar-nav a.nav-link {color:#000000; }
header.hdv3HeaderDarkBlue  .navbar-nav a.nav-link:after {background:#afb3b8;}

/* under bar */
header.hdv3HeaderDarkBlue  .navbar-nav a.activeLink ,
header.hdv3HeaderDarkBlue  nav.navbar div.overlay.open div.shop-links a.whiteLink.activeLink span.mobile-show {
  text-decoration:underline !important;
  text-decoration-color: #666666 !important;
  text-decoration-thickness: 3px !important ;  /* .125em */
  text-underline-offset: 17px !important;
}

header.hdv3HeaderDarkBlue  nav.navbar div.overlay.open {background-color:#ffffff; }
header.hdv3HeaderDarkBlue  nav.navbar div.overlay.open .navbar-nav a.nav-link {color:#000000 !important; }
header.hdv3HeaderDarkBlue  nav.navbar div.overlay.open .navbar-nav a.nav-link.admin {color:red !important; }
header.hdv3HeaderDarkBlue  nav.navbar div.overlay.open div.shop-links a.whiteLink {color:#000000 !important; }

header.hdv3HeaderDarkBlue  div.search-trigger img {height:22px;}


	/* = for mobile drawer */
	.navBurger:before , .navBurger:after  {
	    background: #ffffff; /* this can stay */
	}
	
@media (max-width: 991px) {	
	
	/* tab | for drawer */
	header.hdv3HeaderDarkBlue  .navbar-nav a.nav-link:after {
		background:#ffffff;
	}
		
		
	  .navBurger {
   	 		background: #ffffff; /*needs to be in responsive */
	   }
	   
  .overDrawerLay {
    position: fixed;
    background: #000000; /* #4888d1 */
    top: 61px;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: .3;
	z-index:4;

    transition: all 0.0s ease-in-out; /* /4 */
    overflow: hidden;

  }

  .overDrawerLay.open {
    visibility: visible;
    left: 0;
	
    z-index: 4;
	visibility: visible;
	left:0px;	
  }	   

  .overlay {
    top: 61px;
   }	   
	   
}
	
  .navBurger {
    bQQQackground: #ffffff; /*needs to be in responsive */
    border-top: 8px solid transparent; /* 8 */
    border-bottom: 8px solid transparent; /* 8 */
	top: 20px; /* 20 */
 	z-index: 6;
	
	cQQQolor:#ffffff; /* no */
 	bQQQackground-color:#ffffff; /* no */
 
 	/* delete here down */
    position: absolute;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 19px; /* 19 */
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
   
    left: 20px;
  }

	/* X for mobile drawer */
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top:3px;
    background: #fff;
    width: 100%;
  }

  .navBurger.active:after {
    top: 3px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #fff;
    width: 100%;
  }


/* fix for 28 height nav burger */

@media (max-width: 991px) {
	.nQQQavBurger {
		top:22px; /* was 20? */
	}
	.nQQQavBurger:before {
    	top: -8px; /* was 10 */
	}
	
	.nQQQavBurger:after {
    	bottom: -8px; /* 1as 10 */
	}
	.nQQQavBurger.active {
		top:18px;
	}		
}


/*

*/


div.grecaptcha-badge {display:none;}



/* outline for ada */


/* ******************************************************** */
/* tab outlines */

a:focus-visible {outline:1px solid #4e73b7 !important;}

button:focus-visible {outline:1px solid #4e73b7 !important;}

select:focus {outline:1px solid #4e73b7 !important;}
select:focus {font-size:14px !important;} /* select resize fix on focus */

input:focus {outline:1px solid #4e73b7 !important;}

span:focus {outline:1px solid #4e73b7 !important;}

textarea:focus {outline:1px solid #4e73b7 !important;}

label.labelTabIndex:focus {outline:1px solid #4e73b7 !important;}

	/* tabOutlineWidth5px */
	a.tabOutlineWidth5px:focus-visible {outline-width:5px !important;}
	button.tabOutlineWidth5px:focus-visible {outline-width:5px !important;}

	
	/* footer light blue */
	footer#footer a:focus-visible {outline-color: #779ee5 !important;}
	footer#footer button:focus-visible {outline-color: #779ee5 !important;}

	div.search-body span.buy a.btn:focus-visible {outline: 5px solid #d2d6da !important; border:0px solid #2aa527; !important; }

	header a#hdv3HeaderShoppingCartLinkID:focus-visible ,
	header a#hdv3HeaderFavIconLinkID:focus-visible	, 
	header ul.navbar-nav li a:focus-visible
		 {outline:0px !important; background-color:#e2e6e9;}

	header a.logo:focus-visible
		 {ouQQQtline:5px solid #6688c4 !important; background-color:#6688c4; bordQQQer:1px solid #6688c4 !important;}

	header #hdv3HeaderSearchTextID:focus-visible , 
	header #hdv3HeaderSearchButtonID:focus-visible
		{outline:5px solid #6688c4 !important; }

	button.btn:focus-visible 
		{outline:5px solid #d2d6da !important;	 }

	a.btn:focus-visible
		{outline:5px solid #d2d6da !important;	 } /* grey */
	
	a.content-errore-btn:focus-visible
		{outline:5px solid #d2d6da !important;	 } /* grey */

	a.logout-link:focus-visible ,
	button#hdv3PpManageOrderButtonID:focus-visible
		{outline-width:5px !important; 	 }
		
	a.btn.disabled:focus-visible
		{outline-color:#4e73b7 !important;} /* #4e73b7 drk blue #hdv3PpInvoiceCreateFormCreateBtnID */


	/* search button grey 5px d2d6da */

/* ******************************************************** */





/* skip to main content */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-coloQQQr:#2aa527;
	 background-color:#222222;
	
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 0px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
	border:0px !important;
	outline:0px !important;
	text-decoration:underline;
}

	html {
		scroll-padding-top: 140px;
		
		scrQQQoll-padding-top: 4rem;
	}
	
	
	
	
b.lander156PitchBIcon {
	/* was h3 */
	font-size:20px;
	font-weight:400;
	line-height:24px;
	display:block;
	margin-bottom:8px;
}
	
	
	
.font24 {font-size:24px;}	
.colorWhite {color:#ffffff;}
	
/* ada profile page / floaty box color contrast fi x*/
div.ss-block-inner-new span.ss-block-title {   }
div.ss-block-inner-new span.big-text {  }

	
/* ada testimionial file input */
div.submittestimonial-file-row input::file-selector-button {
	color:#ffffff;
	background-color:#2aa527;
	border:0px;
}

div.submittestimonial-file-row #file {
	display:inline-flex;
	border:0;
}






/* circqular */


.circularXJ {
    pWWWosition: relative;
    width: 25px;
    height: 25px;
    mWWargin-left: 15px; /* yes, make space from processing to spinner */
    dQQQisplay: none;
}


.circularJ div {
	position: absolute;
	width: 6px;
    height: 6px;

	background-color:#ffffff;
	
	
    border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    animation-name: bounce_circularJ;
    -o-animation-name: bounce_circularJ;
    -ms-animation-name: bounce_circularJ;
    -webkit-animation-name: bounce_circularJ;
    -moz-animation-name: bounce_circularJ;
    animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

.circularJ {
    pQQQosition: absolute;
	position: relative;
	
	margin-left: 15px;
	
    bQQQackground-color: rgb(41, 164, 39);
	
    
    width: 25px;
    height: 25px;
		

	
}

.circularJ_1 {
    left: 0;
    top: 10px;
    animation-delay: 0.41s;
    -o-animation-delay: 0.41s;
    -ms-animation-delay: 0.41s;
    -webkit-animation-delay: 0.41s;
    -moz-animation-delay: 0.41s;
}

.circularJ_2 {
    left: 3px;
    top: 3px;
    animation-delay: 0.55s;
    -o-animation-delay: 0.55s;
    -ms-animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
}

.circularJ_3 {
    top: 0;
    left: 10px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.circularJ_4 {
    right: 3px;
    top: 3px;
    animation-delay: 0.83s;
    -o-animation-delay: 0.83s;
    -ms-animation-delay: 0.83s;
    -webkit-animation-delay: 0.83s;
    -moz-animation-delay: 0.83s;
}

.circularJ_5 {
    right: 0;
    top: 10px;
    animation-delay: 0.97s;
    -o-animation-delay: 0.97s;
    -ms-animation-delay: 0.97s;
    -webkit-animation-delay: 0.97s;
    -moz-animation-delay: 0.97s;
}

.circularJ_6 {
    right: 3px;
    bottom: 3px;
    animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}

.circularJ_7 {
    left: 10px;
    bottom: 0;
    animation-delay: 1.24s;
    -o-animation-delay: 1.24s;
    -ms-animation-delay: 1.24s;
    -webkit-animation-delay: 1.24s;
    -moz-animation-delay: 1.24s;
}

.circularJ_8 {
    left: 3px;
    bottom: 3px;
    animation-delay: 1.38s;
    -o-animation-delay: 1.38s;
    -ms-animation-delay: 1.38s;
    -webkit-animation-delay: 1.38s;
    -moz-animation-delay: 1.38s;
}



@keyframes bounce_circularJ {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}

@-webkit-keyframes bounce_circularJ {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}


.circularBlackJ div {
	background-color: #1E2729;
}

/*
	  <div class="circularJ">
		  <div class="circularJ_1"></div>
		  <div class="circularJ_2"></div>
		  <div class="circularJ_3"></div>
		  <div class="circularJ_4"></div>
		  <div class="circularJ_5"></div>
		  <div class="circularJ_6"></div>
		  <div class="circularJ_7"></div>
		  <div class="circularJ_8"></div>
	  </div>
*/


/* order processing fee row longer */
.order-table .cart-total-row span:first-of-type, .order-table .subtotal-row span:first-of-type { width:165px; }

/* https://stackoverflow.com/questions/8572952/border-length-smaller-than-div-width */


div.paymentpay-accaunt-content div.half-block {
	border-bottom:0px;
	border-top:0px;
	justify-content: flex-end;
}

div.block-coupon-total div.half-line-block , 
div.paymentpay-accaunt-content div.half-line-block {
	width:250px;
	float:right;
	justify-content: flex-end;
	border-bottom:1px solid #d1d5d9;
}

div.block-coupon-total div.half-line-block { width:100%; margin-bottom:10px;}

div.paymentpay-accaunt-content div.half-block div.rtr-right-side {boNOPErder-bottom:1px solid purple;}

div.paymentpay-accaunt-coWWWWntent div.half-block:after {
  content : "";
  pWWosition: absolute;
  posiQtion: absolute;
	float:right;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid magenta;
}




/* /testimonials.cfm */

a.activeTestLink {font-weight:bold; color:black !important;}
a.activeTestLink:hover {font-weight:bold; color:black !important;}

				 
					 
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: ##000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ... */


.faq-title h1 {}
section.faq-page h1 { color:#4e73b7; font-size:36px  }
section.faq-page h1 span { color:#4e73b7; font-size:36px  }
section.faq-page h2 { color:#000000; font-size:28px; }

div.about-page-content h1 { color:#4e73b7; }
div.about-page-content h2 { color:#000000; }
div.about-page-content img:nth-of-type(1) { margin-bottom:28px; margin-top:28px;  }


/* 240 - 22 - 22 */
/* .logo (min-width: 196px; } */


.bTopD2Grey { border-top: 1px solid #d2d6da !important; }

input.errorInput {
  border: 2px solid #ff0303 !important;
}

/* setup pp - fix green */
.Payment-Plan-3-up-items .price .green ,
.table-title-paragref .green  , 
.domain-cart .domain-price {
	color:#2aa527;
}


/* dark green not light green price fixes */
.Cart-Payment-Plan-YourChoice-content-wrap .Cart-Payment-Plan-YourChoice-content-wrap-midle p .green {
    color: #2aa527;
}

.Payment-Plan-3-up-items .price .green {
	color: #2aa527;
}


.today-payment .green {
	color: #2aa527;
}

.table-title-paragref .green {
	color: #2aa527;
}

.pp-condic .save-money-paragraf .green {
	color: #2aa527;
}

.checkout-total .total-sum {
	color: #2aa527;
}

.cart-total .total-sum {
	color: #2aa527;
}

.domain-cart .domain-price {
	color: #2aa527;
}

.favorite-modal-list ul li .list-right .price {
	color: #2aa527;
}

/* darker grey coupon checkout button */
.checkout-coupon-block button, .coupon-block button {
	background-color:#89969F;
}

/* darker grey pp manage */
div.accaunt-header-meta a.logout-link {
	background-color:#89969F;
}
.pdf-info form button {
	background-color:#89969F;
}
.invoice-manager .btn.disabled {
	background-color:#89969F;
}


/* small black text on light grey bg */
div.checkout-form-box small {
	color:#676b6b;
}
div.block-paymentpay-accaunt-content-meta span.item-label {
	color:#676b6b;
}



form div.checkout-form-box  h2 {	
	color:#3b78e7;
	font-size:24px;
	margin-bottom:0px;
}

@media (max-width: 991px) {
	form div.checkout-form-box h2 {
    	font-size: 20px;
	 }
}


.colorBlack {
	color:black;
}

.bgBlack {
	background-color:black;
}

div.cirJBlack , div.cirJBlack div  {
	color:black;
}

div.circularJ.cirJBlack div {
	background-color:black;
}


/* paypal gold button */
button.payPalGoldButton  , div.paymentpay-accaunt-content a.payPalGoldButton , .btns-cart-block a.payPalGoldButton {
    background: #ffc439
}


/* dark blue form buttons #4E73B7 , cart and pp manage */
.btns-cart-block a.darkBlueButton  , div.paymentpay-accaunt-content a.darkBlueButton , button.darkBlueButton {
	background-color:#4E73B7;
}

.block-paymentpay-accaunt-content-links-items a .icon {
	background-color:#4E73B7;
}

div.my-favorites h1 {
    color: #4e73b7;
	font-size:28px;
}


@media (max-width: 810px) {
	.my-favorites h1 {
	    text-align: center;
	}
}

.info-title , h1.info-title {
    /* color: #7199e2; */
	color: #4e73b7;
}

.info-center-title , h1.info-center-title {
    /* color: #7199e2; */
	color: #4e73b7;
}


div.casestudy-page-content h2 {
	color:#000000;
}


/* bbb border */
.bbBorder {
	border-color:#bbbbbb;
}

header.hdv3HeaderDarkBlue {
	border-color:#bbbbbb;
}

.cart-table  , .checkout-content .cart-table , .checkout-form-box, .checkout-content .cart-table , .checkout-aside .box-lightgrey {
	border-color:#bbbbbb;
}

@media (max-width: 980px) {
	section.order-table .cart-table { border-right:0px; border-left:0px; }	
	.biling-info-section div.pdf-info { border-right:0px; border-left:0px; }
}

.contact-us-second .form-contactus-section .contact-form-inner {
	border-color:#bbbbbb;
}

@media (max-width: 978px) {
	.contact-us-second .form-contactus-section .contact-form-inner {
		border-right:0px; border-left:0px;
	}	
}

.Payment-Plan-3-up-items {
	border-color:#bbbbbb;
}

.bonus-presentation {
	border-color:#bbbbbb;
}

table.paymentplantable {
	border-color:#bbbbbb;
}

div.fuured-domains-wrap div.futured-dimain-tems {
	border-color:#bbbbbb;
}

div.success-stories-wrap div.success-stories-second-item {
	border-color:#bbbbbb;
}

section.new-testimonails div.new-testi-wrapp  {
	border-color:#bbbbbb;
}

section.search-noresult-topblock div.enter-email-block {
	border-color:#bbbbbb;
}

.faq-section-block-items-wrap .faq-block-item {
	border-color:#bbbbbb;
}

@media (max-width: 980px) {
	.faq-section-block-items-wrap .faq-block-item { border-right:0px; border-left:0px; }
}

/* about nav */
div.checkout-aside .side-about-menu li {
	border-color:#bbbbbb;
}

@media (max-width: 991px) {
	div.checkout-aside {
		margin-bottom:40px;
	}
}

@media (max-width: 980px) {
	div.checkout-aside .side-about-menu li {
		border-right:0px; border-left:0px;
	}
}

.quick-stats .stats-row .stats-row-item {
	border-color:#bbbbbb;
}

.testimonial-wrap li:nth-child(odd) {
	border-color:#bbbbbb;
}

.enter-email-block {
	border-color:#bbbbbb;
}

.buinge-guide-section-nav-item {
	border-color:#bbbbbb;
}

.categories-top-wrap {
	border-color:#bbbbbb;
}

.my-favorites ul {
	border-color:#bbbbbb;
}

/* pp */
.block-paymentpay-accaunt-content-meta  , .block-paymentpay-accaunt-content-links-items a .icon-text , .block-paymentpay-accaunt-content-billing-info , .paymentpay-accaunt-content-table , .reciep-item-wrap {
	border-color:#bbbbbb;
}

/* lander */
.ss-block-inner-new , section.colored-section , .other-domains-update-v-1 .domains-table .domain-row , .quick-stats-section .quick-stat-block {
	border-color:#bbbbbb;
}

.tablet-block {
	border-color:#bbbbbb;
}

section.call-us {
	border-color:#bbbbbb;
	border-bottom:0px;
}

.video-lesson , .testimonails , .faq-section , .testimonails , .other-domains {
	border-color:#bbbbbb;
}

section.banner {
	border-color:#bbbbbb;
}

/* about us / buying guide */
li.active span.buyingGuideLinkMobileGrey {
	color:#000 !important;
	font-weight:bold;
}

li.active a.buyingGuideLinkMobileGrey {
	color:#000 !important;
	font-weight:bold;
}


div.usdPriceDiv , div.usdPriceDiv p {
	color:#6f6f6f
}




/* dark blue link */
	a.blueLink  , div.single-product-block a.link , section.hdv3pitch a.link , section.other-domains-update-v-1 a.link  {
		color:#0166fe !important;
	}
	
	/*landers */
	section.always-off p.after-forms-paragraf a , div.ss-block-inner-new a.link  {
		color:#0166fe !important;
	}


h3.checkouth3 {
    font-size: 17px;
    font-weight: bold;
}

/* receipt order confirmation */
@media (max-width: 991px) {
  .info-row {
    padding-left: 20px;
  }
}

@media (max-width: 740px) {
	/* was 991 to 780 */
  .info-row {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 15px;
  }
 }



.margin28TopBottom  , .about-page-content img.margin28TopBottom  {
	margin-top: 28px;
	margin-bottom: 28px;
}

.margin24TopBottom , .about-page-content img.margin24TopBottom  {
	margin-top: 24px;
	margin-bottom: 24px;
}

.purpleColor {
	/* purple , not blue */
    color: #6750F4;
}

.about-page-content ul.decimal li  , .xfStepBold {
	/* purple , not blue */
    cQQolor: #6750F4;
	color: #5B757A;
}

section.xfrToGdPage ul.xfrToGdPageUl {
	margin-top:0px;
}

section.xfrToGdPage ul.xfrToGdPageUl li::marker {
    cQQolor: #6750F4;
	color: #5B757A;
	
	margin-left:20px;
}

/* mobile header search border , was #2e4978 */
header.hdv3HeaderDarkBlue div.header-top input , header.hdv3HeaderDarkBlue div.header-top button.search-btn {
	border-color:#2c4b79;
}



.largerCheckoutButton {height:48px; width:240px;}
.btns-cart-block a.largerCheckoutButton {height:48px; width:240px;}

.checkoutBtnLeftOffset {margin-left:40px;}

@media (max-width: 560px) {
	.largerCheckoutButton {width:300px;}
	.btns-cart-block a.largerCheckoutButton {width:300px;}

	.checkoutBtnLeftOffset {margin-left:0px;}

	.noLeftRightPaddingMobile560 {
		padding-left:0px;
		padding-right:0px;
	}
}



/* order confirmation page */
	/* no flex-direction:column; */
div.display-table-row {display:flex;  justify-content:space-between; align-items: flex-start; }
span.display-table-name {}
span.display-table-value {font-weight:bold; color:#ea7516;; }

@media (max-width: 991px) {
    div.display-table-row {flex-direction:column; }
}


